@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<div class="container cardContainer">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-header-title">Fitness Card</h3>
                    <span class="card-header-date">November 15, 2015</span>
                </div>
                <div class="card-body">
                    <p>This is the summary of the fitness card. Hopefully this too will become a react component.</p>
                    <p>This is another paragraph about the fitness card</p>
                    <p>This is the last paragraph</p>
                </div>
            </div><!--/card-->
        </div> <!--/col-->
    </div> <!--/row-->
</div> <!--/container-->